@charset "utf-8";

/* CSS Document */


/*****************/
/**** General ****/
/*****************/

body {
  padding-top: 60px;
  /* Spacer Navigation */
  height: 100%;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

@media (max-width:480px) {
  body {
    font-size: 16px;
    line-height: 21px !important;
  }
}

*.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

a {
  color: #009898;
  -webkit-hyphens: none;
     -moz-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}

b,
strong {
  font-weight: 500;
}

.shariff {
  margin: 0px 0px 30px 0px;
}

main ul li:last-child {
  margin-bottom: 0px;
}

@media (max-width:479px) {
  main ul {
    moz-hyphens: auto;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}

#quick_flip {
  display: none;
  background: #f2f2f2;
  padding: 15px;
  margin-bottom: 30px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-align: right;
  border-top: 2px solid #009898;
}

#quick_flip h3 {
  text-align: left;
}

#quick_flip select {
  width: 100%;
  padding: 5px 5px;
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 15px;
  border: 1px solid #009898;
  border-radius: 2px;
}

@media (max-width:479px) {
  #quick_flip {
    display: block;
  }
}

.mobile_landing_teaser {
  display: none;
}

@media (max-width: 768px) {
  .mobile_landing_teaser {
    display: block;
    font-family: "Stone-Light", "Roboto", Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    background: white;
    padding: 15px 0px;
    border-bottom: 2px solid #009898;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 479px) {
  .mobile_landing_teaser {
    display: block;
    font-family: "Stone-Light", "Roboto", Arial, sans-serif;
    font-size: 20px;
    /* margin-top: 25px; */
    margin-bottom: 15px;
    color: #333;
    text-align: center;
    background: white;
    padding: 10px 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    border-bottom: 2px solid #009898;
  }
}


/*****************/
/**** Margins ****/
/*****************/

.top-margin-xl {
  margin-top: 40px;
}

.top-margin-m {
  margin-top: 20px !important;
}

@media (max-width: 479px) {
  .top-margin-m {
    margin-top: 0px !important;
  }
}

.top-padding-xl {
  padding-top: 40px;
}

.top-padding {
  padding-top: 20px;
}

.bottom-margin-xl {
  margin-bottom: 60px;
}

.bottom-margin-md {
  margin-bottom: 30px;
}

.bottom-margin-sm {
  margin-bottom: 15px;
}

.bottom-padding-xl {
  padding-bottom: 40px;
}

.bottom-padding {
  padding-bottom: 20px;
}

.bottom-hybrid {
  padding-bottom: 15px !important;
  margin-bottom: 15px !important;
}

.hybrid-padding {
  padding: 50px 0px !important;
}

@media (min-width:480px) and (max-width:768px) {
  .top-margin-xl {
    margin-top: 30px;
  }
  .bottom-margin-xl {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .top-padding {
    padding-top: 10px;
  }
  .bottom-padding {
    padding-bottom: 10px;
  }
  .top-padding-xl {
    padding-top: 30px;
  }
  .bottom-padding-xl {
    padding-bottom: 30px;
  }
  .top-margin-xl {
    margin-top: 30px;
  }
  .bottom-margin-xl {
    margin-bottom: 25px;
  }
  .bottom-hybrid {
    padding-bottom: 15px !important;
    margin-bottom: 15px !important;
  }
  .hybrid-padding {
    padding: 30px 0 !important;
  }
  .bottom-margin-md {
    margin-bottom: 15px;
  }
}


/******************************/
/**** Colors & Backgrounds ****/
/******************************/

.simplebox,
.form-control {
  border: 1px solid #ddd !important;
}

.white {
  background: white;
}

.white_gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100 */
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */
}

.grey {
  background: #f2f2f2;
}

.bg_stripes {
  background: url(../../cde_img/%24FILE/stripes.png) #f2f2f2;
}

.bg_white {
  background: white;
  border-bottom: 1px solid #ccc;
}

.bg_green {
  background: #009898;
}

.bg_grey {
  background: #f2f2f2;
}

.bg_dark_grey {
  background: #4d4d4d !important;
}

.bg_grey_padding {
  padding: 40px 0px;
}

@media (max-width: 479px) {
  .bg_grey_padding {
    display: none;
  }
}

.border_grey {
  border: 1px solid #e5e5e5;
}


/**************/
/**** Typo ****/
/**************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Stone-Light", "Roboto", Arial, sans-serif;
  line-height: normal;
  moz-hyphens: auto;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

h1 {
  font-size: 40px;
  font-weight: 300;
}

h1,
h3 {
  margin-bottom: 15px;
  margin-top: 0px;
}

@media (min-width:480px) and (max-width:768px) {
  h1 {
    font-size: 36px !important;
  }
}

@media(max-width: 479px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0px 0px 20px 0px;
  text-align: left;
}

#SPOTLIGHT h2 {
  margin: 0px 0px 15px 0px;
  padding: 0px 15px;
  -webkit-transition: all .15s;
  transition: all .15s;
}

#SPOTLIGHT a {}

#SPOTLIGHT a:hover h2,
#CONTENT .box-module a:hover h3 {
  /*text-decoration: underline;*/
  color: black;
}

#SPOTLIGHT a:hover div.button {
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: black;
}

h3 {
  font-size: 20px;
  font-weight: 300;
}

.teaser_box h3 {
  padding: 0px 15px;
}

h6 {
  /* text-transform: uppercase; */
  font-size: 14px;
  margin-top: 0px;
  letter-spacing: 1px;
  margin: 0px;
  font-weight:bold;
}

h1.frontpage {
  text-align: center;
  margin: 30px 0px 40px 0px;
  font-size: 30px !important;
  border: 1px solid red;
  display: none;
}

.h2-no-top-margin {
  font-size: 24px !important;
  font-weight: 400 !important;
  margin-bottom: 20px !important;
  margin-top: 0px !important;
}

.title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 25px;
  color: #808080;
}

@media (max-width: 768px) {
  .title {
    margin-top: 35px;
  }
}

@media (max-width: 479px) {
  .title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    color: #808080;
  }
  h3 {
    font-size: 18px !important;
    font-weight: 400 !important;
  }
  h3 span::before {
    display: inline-block;
    content: "\00BB \00A0";
  }
}

#NEWS_EVENTS {
  line-height: 22px;
  padding: 45px 0px;
}

@media (max-width: 479px) {
  #NEWS_EVENTS {
    /* padding: 0px 0px 45px 0px; */
    padding: 0px 0px 4px 0px;
  }
}

.topline {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 14px;
}

.teaser {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: normal;
  color: #666;
  moz-hyphens: auto;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.subtext {
  margin-top: 0px;
  margin-bottom: 0px;
}


/************************/
/**** 3/4 BOX MODULE ****/
/************************/

.box-module {
  margin-bottom: 30px;
}

.box-module {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 992px) {

  #SPOTLIGHT .row > div:nth-child(3) {
      clear: left;
  }

}

@media (max-width: 479px) {
  .box-module {
    display: block;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: block;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: block;
    /* TWEENER - IE 10 */
    display: block;
    /* NEW - Chrome */
    display: block;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
}

.teaser_box {
  /*height: 100%;*/
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .15s;
  transition: all .15s;
}

@media (min-width: 480px) and (max-width: 991px) {
  .teaser_box {
    margin-bottom: 30px;
  }
}


@media(max-width: 479px) {
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 479px) {
  .teaser_box {
    margin-bottom: 15px;
    padding-top: 15px;
    height: 50px;
  }
}

@media (max-width: 479px) {
  .mobile_landing_teaser {
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  #NEWS_EVENTS .title {
    font-size: 16px;
  }
}

@media (max-width: 479px) {
  .teaser_box, #start_event_box, #start_news_box, #start_job_box {
    position: relative;
  }
}

@media (max-width: 479px) {
  .teaser_box div {
    position: absolute;
    top: 12px;
    right: 6px;
  }
}

@media (max-width: 479px) {
  #NEWS_EVENTS .button {
    position: absolute;
    top: -3px;
    right: 2px;
  }
}


.teaser_box div {
  margin: 0px 0px 15px 15px;
}

.teaser_box:hover {
  /*transform: scale(1.01);*/
}

#CONTENT .teaser_box {
  background: #f2f2f2;
}

#SPOTLIGHT .teaser_box {
  background: #FFF;
}

.teaser_box img {
  width: 100%;
  margin-bottom: 15px;
}

@media (max-width: 479px) {
  .teaser_box img {
    display: none;
  }
}

.teaser_box p {
  font-size: 14px !important;
  line-height: 21px !important;
  padding: 0px 15px 15px 15px;
  color: #666;
  moz-hyphens: auto;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

@media (max-width: 479px) {
  .teaser_box p {
    display: none;
  }
}

#SPOTLIGHT a:hover,
#CONTENT .box-module a:hover {
  text-decoration: none;
}


/******************/
/***** SM Box *****/
/******************/

@media (min-width: 480px) {
  #SM_BOX {
    position: fixed;
    right: 0px;
    top: 100px;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 480px) {
  #SM_BOX {
    display: none;
  }
}


/***********************/
/**** News & Events ****/
/***********************/

#NEWS_EVENTS img {
  width: 100%;
  margin-top: 5px;
}

.box_spacer {
  padding-right: 25px !important;
  padding-left: 25px !important;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}


/****************/


/**** Footer ****/


/****************/

#FOOTER {
  color: #666;
  padding: 40px 0px;
}

#FOOTER, #social_mobile {
  background: #e5e5e5;
}

#social_mobile {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 5px; 
  padding-bottom: 10px;

}
#social_mobile a {
  padding-left: 2%;
  padding-right: 2%; 
}

#social_mobile h3 {
  /* background: white; */
  /* border-bottom: solid 1px #009898; */
  margin-bottom: 5px;
  color: #666;
}

@media (min-width: 991px) {
  #social_mobile {
    display: none;
  }
}

@media (max-width: 479px) {
  #FOOTER {
    display: none;
  }
}

#FOOTER p,
.ul_contact,
.ul_service {
  font-size: 14px;
}

#FOOTER ul {
  padding: 0px;
}

#FOOTER ul li {
  list-style: none;
}

#FOOTER ul li img {
  margin-right: 10px;
}

#FOOTER a {
  color: #009898;
}

#FOOTER a:hover {
  text-decoration: underline;
}

#IMPRINT {
  background: #009898;
}

#IMPRINT ul {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #73e5e5;
}

#IMPRINT a {
  color: white;
}

#IMPRINT ul li {
  display: inline-block;
  padding: 10px;
}

#Awards {
  background: inherit;
  padding-top: 6px;
  padding-bottom: 6px;

}

#Awards ul {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #73e5e5;
}

#Awards a {
  color: initial;
}

#Awards ul li {
  display: inline-block;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-left: 20px;
}

.ul_contact li {
  float: left;
  margin-right: 15px;
}

/*.blog {
  min-height: 64px !important;
  background: url(/C1257822003AD11B/RepositoryFile/cde_img/$FILE/footer-blog.png) 15px 0px no-repeat;
  padding-left: 95px !important;
}

.career {
  min-height: 64px !important;
  background: url(/C1257822003AD11B/RepositoryFile/cde_img/$FILE/footer-career.png) 15px 0px no-repeat;
  padding-left: 95px !important;
}

.trophy {
  min-height: 64px !important;
  background: url(/C1257822003AD11B/RepositoryFile/cde_img/$FILE/footer-trophy.png) 15px 0px no-repeat;
  padding-left: 95px !important;
}*/

.connect {
  min-height: 64px !important;
  background: url(../../cde_img/%24FILE/footer-connect.png) 15px 0px no-repeat;
  padding-left: 95px !important;
}

.icon_link {
  float: left;
}

.footer_icon_link_text {
  float: left;
  margin-left: 15px;
  width:calc(100% - 85px);
}

@media (max-width:1200px) {
/*  .blog {
    background: url(/C1257822003AD11B/RepositoryFile/cde_img/$FILE/footer-blog.png) no-repeat center top;
    padding-top: 95px !important;
    padding-left: 15px !important;
    text-align: center;
  }
  .career {
    background: url(/C1257822003AD11B/RepositoryFile/cde_img/$FILE/footer-career.png) no-repeat center top;
    padding-top: 95px !important;
    padding-left: 15px !important;
    text-align: center;
  }
  .trophy {
    background: url(/C1257822003AD11B/RepositoryFile/cde_img/$FILE/footer-trophy.png) no-repeat center top;
    padding-top: 95px !important;
    padding-left: 15px !important;
    text-align: center;
  }*/
  .connect {
    background: url(../../cde_img/%24FILE/footer-connect.png) no-repeat center top;
    padding-top: 95px !important;
    padding-left: 15px !important;
    text-align: center;
  }

  .icon_link {
    float: none;
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 30px;
  }

  .footer_icon_link_text {
    display: block;
    float: none;
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }


}

@media (max-width: 480px) {
  #FOOTER ul li img {
    display: none;
  }
  .footer-box {
    margin-bottom: 20px;
  }
  .blog,
  .career,
  .trophy,
  .connect {
    background: none;
    padding-top: 0px !important;
    padding-left: 15px !important;
    text-align: center !important;
    margin-bottom: 20px;
  }
  .service {
    text-align: center;
  }
}


/******************************/
/**** Spotlight Startseite ****/
/******************************/

#SPOTLIGHT {
  padding: 35px 0px 45px 0px;
}

@media (max-width: 479px) {
  #SPOTLIGHT {
    padding: 15px 0px;
  }
}

.crop_limiter {
  max-height: 200px;
  overflow: hidden;
}

.crop_limiter img {
  width: 100%;
  top: -50%;
  position: relative;
  border-radius: 2px;
}


/***********************/
/**** Siblingsavigation ****/
/***********************/

#SIBLINGS_NAVIGATION {
  font-family: "Roboto Condensed", Arial, sans-serif;
  text-align: left;
}

#SIBLINGS_NAVIGATION p {
  font-weight: 400;
}

#SIBLINGS_NAVIGATION ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-weight: 300;
}

#SIBLINGS_NAVIGATION a,
#SIBLINGS_NAVIGATION a:visited {
  padding: 5px 0px;
  display: block;
  border-bottom: 1px dotted #009898;
  line-height: 20px;
}

#SIBLINGS_NAVIGATION a:hover,
#SIBLINGS_NAVIGATION a:active {
  color: #000 !important;
  text-decoration: none !important;
  border-bottom: 1px solid #000;
}

@media (max-width: 991px) {
  #SIBLINGS_NAVIGATION {
    moz-hyphens: auto;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}

@media (max-width: 480px) {
  #SIBLINGS_NAVIGATION {
    margin-top: 30px;
    moz-hyphens: none;
    -webkit-hyphens: none;
       -moz-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
  }
}

/***********************/
/**** Subnavigation ****/
/***********************/

#SUB_NAVIGATION {
  font-family: "Roboto Condensed", Arial, sans-serif;
  text-align: left;
}

#SUB_NAVIGATION p {
  font-weight: 400;
}

#SUB_NAVIGATION ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-weight: 300;
}

#SUB_NAVIGATION a,
#SUB_NAVIGATION a:visited {  
  padding: 5px 0px;
  display: block;
  border-bottom: 1px dotted rgb(102, 102, 102);
  line-height: 20px;
}

#SUB_NAVIGATION a:hover,
#SUB_NAVIGATION a:active {
  color: #000 !important;
  text-decoration: none !important;
  border-bottom: 1px solid #000;
}

#SUB_NAVIGATION .sub_content_lv5 a {
  padding: 0px 0px 0px 15px;
}

@media (max-width: 991px) {
  #SUB_NAVIGATION {
    moz-hyphens: auto;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}

@media (max-width: 480px) {
  #SUB_NAVIGATION {
    margin-top: 30px;
    moz-hyphens: none;
    -webkit-hyphens: none;
       -moz-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
  }
}


/************************/
/**** Brotkrumenpfad ****/
/************************/

#BREADCRUMB {
  margin: 0px 0px 30px 0px;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-weight: 300;
  padding: 0px;
  list-style: none;
}

#BREADCRUMB li {
  float: left;
  margin-right: 5px;
}

#BREADCRUMB a:hover,
#BREADCRUMB a:active {
  color: #000 !important;
}

@media (max-width: 480px) {
  #BREADCRUMB {
    margin: 0px 0px 30px 0px;
  }
}


/*********************/
/**** Contact Box ****/
/*********************/

#CONTACT_BOX {
  font-family: "Roboto Condensed", Arial, sans-serif;
}

#CONTACT_BOX ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 479px) {
  #CONTACT_BOX {
    background: #f2f2f2;
    padding: 30px 15px 5px 15px;
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
  }
  #CONTACT_BOX img {
    margin: 0;
  }
  #CONTACT_BOX ul {
    margin-top: 10px;
  }
}

#CONTACT_BOX ul li:last-child {
  margin-bottom: 15px;
}

#CONTACT_BOX a:hover,
#CONTACT_BOX a:active {
  color: #000 !important;
}

#CONTACT_BOX img {
  margin-right: 10px;
}

.contact_pic {
  border-radius: 100px;
  max-width: 100px;
}

.contact_info {
  font-weight: 400;
  margin-top: 20px;
}

.contact_info span {
  font-weight: 300;
}

@media (max-width:992px) {
  .contact-box {
    border-top: 1px dotted #808080;
    padding: 30px 0px 0px 0px;
    margin-top: 30px;
  }
  .contact_pic {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    width: 25%;
  }
  .contact_info {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
  }
}

@media (max-width: 768px) {
  .contact_pic {
    display: inline-block;
    margin: 0px 20px 20px 0px;
    vertical-align: top;
    width: 50%;
  }
}

@media (max-width: 480px) {
  .contact-box {
    border: 0px;
    padding: 30px 0px;
    background-color: white;
  }
}

/*********************/
/**** Newsletter Box ****/
/*********************/

#NEWSLETTER_BOX {
  background-color: #009899;
}
.newsletter_info {
  font-family: "Roboto Condensed", Arial, sans-serif;
  color:#FFFFFF;
  font-size:16px;
  font-weight: 400;
  margin-top: 20px;
  line-height:22.85px;
}
@media (max-width: 479px) {
  .newsletter_info {
    font-family: "Roboto", Arial, sans-serif;
  }
}
.newsletter_info span {
  font-weight: 300;
}
.newsletter-link div.image {
	display:block;
	text-align:center;
}


/*****************/
/**** Content ****/
/*****************/

main > div {
  margin-bottom: 40px;
}

#CONTENT {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width:480px) {
  #CONTENT {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}

#CONTENT p {
  moz-hyphens: auto;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

#ABSTRACT p {
  margin-bottom: 20px;
}

#SUB_HEADLINE {
  font-weight: 500;
  margin-bottom: 35px;
  font-family: "Stone-Bold";
}

.content_ul li {
  margin-bottom: 8px;
  color: #364d4d;
  font-weight: 400;
  font-style: italic;
  width: 85%;
}

.content_ul {
  padding: 15px 0px 0px 45px;
  margin: 0;
}

@media (max-width:480px) {
  .content_ul {
    padding: 15px 0px 30px 30px;
    margin: 0;
  }
  .content_ul li {
    width: 100%;
  }
}


/************************/
/**** Content Bilder ****/
/************************/

.content_image {
  float: left;
}

.twen {
  width: 25%;
  margin-right: 20px;
}

.half {
  width: 50%;
  margin-right: 20px;
}

.full {
  width: 100%;
  margin-bottom: 15px;
}

.content_image img {
  margin-top: 5px;
  width: 100%;
  border-radius: 2px;
}

.content_image p {
  background: #f2f2f2;
  color: #474747;
  font-size: 12px;
  margin: 5px 0px 0px 0px !important;
  padding: 10px;
  line-height: 18px !important;
}

@media (max-width: 480px) {
  .twen,
  .half,
  .full {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .content_image img {
    margin-top: 0px;
    width: 100%;
  }
  .content_image p {
    background: #f2f2f2;
    color: #474747;
    font-size: 12px;
    margin: 5px 0px 0px 0px !important;
    padding: 0px 10px;
  }
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #009898 !important;
  border-color: #009898 !important;
  color: #fff !important;
  z-index: 2;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:focus .list-group-item-text,
.list-group-item.active:hover .list-group-item-text {
  color: #a6d7d2 !important;
}


/****************/


/**** Quotes ****/


/****************/

blockquote {
  margin: 30px 0px 0px 0px;
  padding: 20px;
  color: #009898;
  background: rgba(0, 170, 165, 0.1);
  border-left: 5px solid #009898 !important;
}

cite {
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}

blockquote p:first-child {
  font-weight: 400;
}

blockquote p:last-child {
  margin: 0;
}

@media (max-width:480px) {
  blockquote {
    border-left: 2px solid #009898 !important;
  }
}

.boiler {
  border-bottom: 1px dotted #808080;
  border-top: 1px dotted #808080;
  padding: 15px 15px 25px 0px;
  font-size: 12px;
}

@media (min-width:480px) and (max-width:768px) {
  .boiler {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 1px dotted #808080;
    padding: 15px 15px 0px 0px;
  }
}

.boiler img {
  width: 75%;
  margin: 10px 0px 30px 0px;
  display: block;
}

@media (min-width:480px) and (max-width:768px) {
  .boiler img {
    max-width: 200px;
    margin: 10px auto 30px auto;
    display: block;
  }
}

@media (max-width: 480px) {
  .boiler img {
    max-width: 200px;
    margin: 10px auto 30px auto;
    display: block;
  }
}

.list img,
.simple-list img {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.simple-list {
  margin-bottom: 30px;
  /*
  padding-top: 20px;
  padding-bottom: 20px;
  */
}

.simple-list

/*div:nth-child(2)*/
{
  border-bottom: 1px dotted #999;
  padding-bottom: 30px;
}

.simplebox {
  padding: 15px;
}

.simplebox p {
  float: left;
  margin: 0px !important;
  padding: 6px;
}

.simplebox form {
  float: right;
}

.simplebox select {
  max-width: 200px;
  background: #fcfcfc !important;
  margin: 0px !important;
  border: 1px solid #bfbfbf !important;
  color: #000 !important;
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 1) !important;
  padding: 6px !important;
  display: inline-block;
  vertical-align: middle;
}

.simplebox button {
  display: inline-block;
  vertical-align: middle;
}

@media (min-width:480px) and (max-width:768px) {
  .simplebox p {
    float: none;
    display: block;
  }
  .simplebox form {
    float: none;
    display: block;
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .simplebox p {
    float: none;
    display: block;
  }
  .simplebox form {
    float: none;
    display: block;
    margin-top: 15px;
  }
  .simplebox button {
    display: block;
    margin-top: 15px;
    vertical-align: top;
  }
}


/*****************************/


/**** Content Search Form ****/


/*****************************/

#search-form {
  padding: 2%;
  border-bottom: 1px solid #a0a0a0;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #f2f2f2;
  margin-top: 30px;
}

@media (max-width: 480px) {
  #search-form {
    padding: 15px;
  }
}

.search-form-content {
  width: 60%;
  margin: auto;
  text-align: center;
}

@media (min-width:480px) and (max-width:768px) {
  .search-form-content {
    width: 80%;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .search-form-content {
    width: 90%;
    margin: auto;
    text-align: center;
  }
}

#search-form label {
  display: block;
}

#search-form ul {
  padding: 0px;
}

#search-form ul li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

@media (max-width:992px) {
  #search-form ul li {
    list-style: none;
    display: block;
    margin-bottom: 15px;
  }
  #search-form ul li:nth-child(3) {
    margin-bottom: 30px;
  }
}


/**************************/


/**** Big Table Layout ****/


/**************************/

.page-table-label-collapsed {
  display: none;
}

.input-academy,
.button-academy {
  display: inline-block !important;
  vertical-align: middle;
}

.input-academy {
  width: 70%;
  background: white;
  border: 1px solid #009898;
  padding: 5px 10px;
}

@media (max-width: 479px) {
  .input-academy {
    width: 50%;
  }
}

#page-table-body {
  font-size: 14px;
  line-height: 17.5px;
}

#page-table-header-xl {
  background: #dcdcdc;
  border-bottom: 2px solid #009898;
}

#page-table-header-xl ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#page-table-header-xl ul li {
  float: left;
  font-weight: 500;
  padding: 5px 15px;
}

#page-table-header-sm {
  display: none;
}

#page-table-body > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#page-table-body > ul > li {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: 0px;
}

#page-table-body > ul > li:nth-child(even) {
  background-color: white;
}

#page-table-body > ul > li:nth-child(odd) {
  background-color: #fafafa;
}

#page-table-body ul ul {
  list-style: none;
  padding: 0px;
}

#page-table-body ul ul li {
  float: left;
  padding: 15px;
  vertical-align: top;
  border: 0px;
}

#page-table-body p {
  margin: 0;
  padding: 0;
}

@media (max-width:992px) {
  .page-table-label-collapsed {
    display: block;
  }
  #page-table-header-xl {
    display: none;
  }
  #page-table-header-sm {
    display: block;
    background: #dcdcdc;
    border-bottom: 2px solid #009898;
    padding: 5px 10px;
    text-align: right;
  }
  #page-table-header-sm form {
    display: inline-block;
    vertical-align: middle;
  }
  #page-table-header-sm form select {
    vertical-align: middle;
    padding: 5px;
  }
  #page-table-body > ul > li {
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 15px 0px 20px 0px;
  }
  #page-table-body ul ul {
    padding: 0px;
  }
  #page-table-body ul ul li {
    padding: 10px 30px;
    vertical-align: top;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    box-sizing: border-box;
  }
}


/**** Academy Table ****/

.academy-table-head li:nth-child(1),
.academy-table ul ul li:nth-child(1) {
  width: 10%;
}

.academy-table-head li:nth-child(2),
.academy-table ul ul li:nth-child(2) {
  width: 40%;
}

.academy-table-head li:nth-child(3),
.academy-table ul ul li:nth-child(3) {
  width: 12.5%;
}

.academy-table-head li:nth-child(4),
.academy-table ul ul li:nth-child(4) {
  width: 12.5%;
}

.academy-table-head ul li:nth-child(5),
.academy-table ul ul li:nth-child(5) {
  width: 12.5%;
}

.academy-table-head ul li:nth-child(6),
.academy-table ul ul li:nth-child(6) {
  width: 12.5%;
}

@media (max-width:992px) {
  .academy-table-head li:nth-child(1),
  .academy-table ul ul li:nth-child(1) {
    display: block;
    width: auto;
    border-radius: 2px;
    margin: 0px 15px;
    padding: 10px 15px !important;
  }
  .academy-table-head li:nth-child(2),
  .academy-table ul ul li:nth-child(2) {
    display: block;
    width: 100%;
  }
  .academy-table-head li:nth-child(3),
  .academy-table ul ul li:nth-child(3) {
    display: block;
    width: 100%;
  }
  .academy-table-head li:nth-child(4),
  .academy-table ul ul li:nth-child(4) {
    display: block;
    width: 100%;
  }
  .academy-table-head li:nth-child(5),
  .academy-table ul ul li:nth-child(5) {
    display: block;
    width: 100%;
  }
  .academy-table-head li:nth-child(6),
  .academy-table ul ul li:nth-child(6) {
    display: block;
    width: 100%;
  }
}


/**** Job Table ****/

.job-table-head li:nth-child(1),
.job-table ul ul li:nth-child(1) {
  width: 17%;
}

.job-table-head li:nth-child(2),
.job-table ul ul li:nth-child(2) {
  width: 30%;
}

.job-table-head li:nth-child(3),
.job-table ul ul li:nth-child(3) {
  width: 17%;
}

.job-table-head li:nth-child(4),
.job-table ul ul li:nth-child(4) {
  width: 12%;
}

.job-table-head ul li:nth-child(5),
.job-table ul ul li:nth-child(5) {
  width: 12%;
}

.job-table-head ul li:nth-child(6),
.job-table ul ul li:nth-child(6) {
  width: 12%;
}

.input-jobs,
.button-jobs {
  display: inline-block !important;
  vertical-align: middle;
}

@media (max-width:1200px) {
  .button-jobs {
    height: 30px;
  }
}

.input-jobs {
  background: white;
  border: 1px solid #009898;
  padding: 6px 10px;
  border-radius: 2px;
}

@media (max-width:992px) {
  .input-jobs {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .input-jobs {
    width: 200px;
  }
}

@media (max-width:992px) {
  .job-table-head li:nth-child(1),
  .job-table ul ul li:nth-child(1) {
    border-radius: 2px;
    display: block;
    width: auto;
    margin: 0px 15px;
    padding: 10px 15px !important;
  }
  .job-table-head li:nth-child(2),
  .job-table ul ul li:nth-child(2) {
    display: block;
    width: 100%;
  }
  .job-table-head li:nth-child(3),
  .job-table ul ul li:nth-child(3) {
    display: block;
    width: 100%;
  }
  .job-table-head li:nth-child(4),
  .job-table ul ul li:nth-child(4) {
    display: block;
    width: 100%;
  }
  .job-table-head li:nth-child(5),
  .job-table ul ul li:nth-child(5) {
    display: block;
    width: 100%;
  }
  .job-table-head li:nth-child(6),
  .job-table ul ul li:nth-child(6) {
    display: block;
    width: 100%;
  }
}


/***************/


/**** Table ****/


/***************/

th {
  border-top: 0px !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 0px !important;
}

.table-responsive {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media (max-width: 768px) {
  .table-responsive {
    border: 0px !important;
  }
}

.table tr:nth-child(odd) {
  background: #f2f2f2;
}

.table tr:nth-child(even) {
  background: #fafafa;
}

.table th {
  background: #009898;
  color: white;
}

.table td {
  border-bottom: 1px solid #ccc;
}


/***********************/


/**** Academy Table ****/


/***********************/

#academy_table {
  margin-bottom: 60px;
}

#academy_table > div {
  padding: 15px;
}

#academy_table_headline {
  background: #009898;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: white;
  font-weight: 500;
  padding: 10px 15px !important;
}

#academy_table_infos,
#academy_table_submit {
  background: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

#academy_table_selection {
  background: #fafafa;
  border-bottom: 1px solid #ccc;
}

@media (max-width:767px) {
  #orte {
    margin-bottom: 20px;
  }
}

#academy_table_footer {
  font-size: 14px;
  color: #666;
}

.academy_table_cellpadding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.acadamy_table_selection_headline {
  margin-bottom: 15px;
}

#academy_table_infos img {
  float: left;
  margin-top: 4px;
}

#academy_table_infos p {
  margin-left: 30px;
}


/**** Akkordeon Style ****/

.bs-example {
  margin-top: 40px;
}

.panel-heading a:hover {
  text-decoration: none !important;
}

.academy_list_title {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}


/*******************************/


/**** Social Media Newsroom ****/


/*******************************/

#PRESSE h4,
#BLOG h4 {
  margin-bottom: 0px;
}

.feed-item-title {}

.ticker_date {
  font-size: 12px;
  color: #888;
  margin: 0px;
  padding: 0px;
}

#BLOG div p:nth-child(3),
#BLOG div p:nth-child(8) {
  font-weight: 400;
}

#BLOG div p:nth-child(4),
#BLOG div p:nth-child(9) {
  font-size: 12px;
  margin-bottom: 40px;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

#SOCIAL_MEDIA_WALL h3 {
/*  width: 100%;
  border-bottom: 1px solid #999;
  margin: 0px;
  padding: 5px 10px;*/
  font-weight: bold;
  border-bottom: 1px solid #009898;
  border-radius: 2px;
  padding: 5px 10px;
  background: #f2f2f2;
  color: #009898;
}

#SOCIAL_MEDIA_WALL .frame {
  border: 1px solid #999;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#SOCIAL_MEDIA_WALL .row {
/*  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;*/
}

#SOCIAL_MEDIA_WALL h4 {
  margin: 0;
}

#SOCIAL_MEDIA_WALL .ticker_date {
  margin-bottom: 10px;
}

html body div#CONTENT.container div.row div.col-xs-12 div#SOCIAL_MEDIA_WALL.row div.col-xs-12 div.row {
  padding-bottom: 80px;
}

.feed-item-title {
  margin: 0;
}

/*************************/


/**** Autofill Search ****/


/*************************/

.ac_results {
  background: white;
}

.ac_results ul {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}

.ac_results ul li {
  padding: 5px 10px;
}

.ac_results ul li:hover {
  color: #009898;
}

.ac_even {
  background: #f2f2f2;
}

.ac_odd {
  background: #f6f6f6;
}

.width_limiter {
  background: #f2f2f2;
}


/****************************************************/


/**** UNIQUE RESPONSIVE STYLES (MAYBE DELETABLE) ****/


/****************************************************/

@media (max-width:1200px) {}

@media (max-width:992px) {}

@media (max-width:992px) {
  .breakaway992 {
    display: none;
  }
}

@media (max-width: 768px) {}

@media (max-width: 480px) {
  .breakaway768 {
    display: none !important;
  }
  .breakaway480 {
    display: none !important;
  }
  .h1_start {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: auto;
    color: white;
    /* line-height: 1; */
    text-align: center;
    font-weight: 500;
  }
  .h1_start h1 {
    font-size: 18px !important;
  }
  .header50 {
    height: 100%;
    position: relative;
  }
  .sm_padding img {
    display: none;
  }
  .contentimage_50 {
    width: 30%;
    margin-right: 20px;
  }
}

@media (min-width:480px) and (max-width:768px) {}

.table td {
  padding: 15px !important;
}

.table caption {
  background: #009898;
  color: white;
  padding: 10px 15px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.tt-menu {
  background: #FFF;
  color: #666;
  padding: 5px 15px 15px 15px;
  margin-top: 13px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.tt-menu div div {
  border: 1px solid transparent;
}

.tt-menu div div:hover {
  cursor: pointer;
  color: #008989;
  border-bottom: 1px solid #009898;
}












/*****************/
/***** PRINT *****/
/*****************/

@media print {
  #SUB_NAVIGATION, #NAVI_BAR, #SEARCHBOX, header, #HEADER, .container_fluid, .parallax-window, .parallax-mirror {
    display: none !important;
  }

  #BREADCRUMB {
    color: #009898;
    font-size: 10px;
  }

  .content_image {
    float: left;
  }

  .twen, .half, .full {
    width: 50%;
    margin-right: 20px;
  }

  #CONTENT p {
    font-size: 14px;
    line-height: 21px;
  }

  .contact_pic {
    width: 100px;
    border-radius: 100%;
  }

  #CONTACT_BOX {
    border: 1px solid grey;
    padding: 20px;
    border-radius: 10px;
  }

}




/******* Landing Page ********/

body.lp {
	height: 100%;
	margin: 0;
	padding: 0;
}

.lp #teaser_page {
	background: #333;
	height: 90%;
	display: block;
	position: relative;
}

	@media (max-width:768px) {
		#teaser_page {
			height: 70%;
		}
	}

.lp_container {
	max-width: 1170px;
	position: relative;
	margin: auto;
	height: calc(100% - 50px);
	padding: 15px;
	box-sizing:content-box;
}

.lp #teaser_logo {
	position: relative;
	top: 25px;
	right: 25px;
	max-width: 150px;
	float:right
}

	@media (max-width:768px) {
		.lp #teaser_logo {
			top: 15px;
			right: 15px;
			max-width: 75px;
		}
	}

#teaser_page .lp_container > div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-width: 50%;
}

	@media (max-width:992px) {
		#teaser_page .lp_container > div {
			max-width: 100%;
			text-align: center;
		}
		.lp #teaser_page h1,.lp #teaser_page h2 {text-align:center;}
	}

#teaser_page .lp_container div form,
#teaser_page .lp_container div form input,
#teaser_page .lp_container div form button {
	border: 0;
	margin: 0;
	display: inline-block;
	font-size: 20px;
	text-align: left;
}

#teaser_page .lp_container div form {
	background: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

#teaser_page .lp_container div form input {
	background: transparent;
	padding: 10px 15px;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
}

#teaser_page .lp_container div form a {
	text-decoration:underline;
	color:inherit;
}

#teaser_page .lp_container div form button {
	background: #009898;
	padding: 10px 15px;
	color: white;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	transition: background ease 0.2s;
}

#teaser_page .lp_container div form button:hover,
#teaser_page .lp_container div form button:focus,
#teaser_page .lp_container div form button:active {
	background: #00b3b3;
	cursor: pointer;
}

	@media (max-width:768px) {
		#teaser_page .lp_container div form {
			background: transparent;
			box-shadow: none;
			text-align: center;
		}
		.lp #teaser_page h1,.lp #teaser_page h2 {text-align:center;}

		#teaser_page .lp_container div form input {
			background: white;
			margin-bottom: 10px;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
		}

		#teaser_page .lp_container div form button {
			box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
		}
	}

.lp #teaser_page h1,
.lp #teaser_page h2 {
	margin: 0;
	padding: 0;
	color: white;
	font-family: "Stone-Light", "Roboto", Arial, sans-serif;
	line-height: 1;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.25);
	hyphens:none;
}

.lp #teaser_page h1 {
	font-size: 64px;
	font-weight: 300;
	margin-bottom: 30px;

}

.lp #teaser_page h2 {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 40px;
}

	@media (max-width:768px) {
		.lp #teaser_page h1 {
			font-size: 42px;
			font-weight: 500;
			margin-bottom: 30px;

		}

		.lp #teaser_page h2 {
			font-size: 16px;
			font-weight: 300;
			margin-bottom: 40px;
		}
	}

.lp .triangular {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.lp .triangular div {
	float: left;
}

.lp .triangular div:nth-child(1) {
	background: white;
	height: 50px;
	width: calc(50% - 50px);
}

.lp .triangular div:nth-child(2) {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 0 0 50px;
	border-color: transparent transparent transparent #ffffff;
}

.lp .triangular div:nth-child(3) {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 50px 50px;
	border-color: transparent transparent #ffffff transparent;
}

.lp .triangular div:nth-child(4) {
	background: white;
	height: 50px;
	width: calc(50% - 50px);
}

#teaser_page .lp_container div #lp_form {
	background: transparent;
	box-shadow:none;
	width:75%;
}

#teaser_page .lp_container div #lp_form select, 
#teaser_page .lp_container div #lp_form input {
	padding: 4px 6px;
	background: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	margin-bottom: 16px;
	display: block;
	border: 0;
	border-radius:0;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
}	

#headerform {
	-ms-transform-origin: top left;
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-transition: all 500ms ease-in-out !important;
	transition: all 500ms ease-in-out !important;
	position: absolute;
}

/*---------------------------------------
Buttonbox      
-----------------------------------------*/

.buttonbox {
	width: 100%;
	height: auto;
	padding-top: 25px;
	padding-bottom: 40px;
	padding-left: 50px;
	padding-right: 50px;
	vertical-align: top;
	min-width: 220px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.buttonbox.var1 {
	background-color: #e5e5e5;
}

.buttonbox.var2 {
	background-color: #b3d5d4;
}

.buttonbox.var3 {
	background-color: rgb(0, 170, 165);
}

.buttonbox div {
	color: rgb(0, 170, 165);
	font-size: 16px;
	font-weight: 400;
}

.buttonbox div a{
	color: #575757;
}

.buttonbox.var3 div {
	color: #ffffff;
}

.buttonbox .button {
	margin:25px 0 0 0;
	background: #009898;
	padding: 10px 15px;
	color: white;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	transition: background ease 0.2s;
	border: 0;
	display: inline-block;
	font-size:14px;
	text-align: left;
}

.buttonbox .fa {
	margin-left:12px;
	font-size:18px;
}
	
.buttonbox.var3 .button {
	background: white;
	color: #009898;
}

.buttonbox .button:hover,
.buttonbox .button:focus,
.buttonbox .button:active {
	background: #00b3b3;
	cursor: pointer;
}
.buttonbox.var3 .button:hover,
.buttonbox.var3 .button:focus,
.buttonbox.var3 .button:active {
	background: #F7F7F7;
	cursor: pointer;
}

@media (max-width:768px) {
	.buttonbox .button {
		box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	}
}

#prae_footer_accordion .panel-title {
	text-align: center;
}
#prae_footer_accordion .panel-title a {
	text-decoration: none;
	display: block;
	font-family:"Roboto", Arial, sans-serif;
}

#prae_footer_accordion .panel-default > .panel-heading {
	background-color: inherit;
	color: #009898;
  background-color: #009898;
  color: white;
}

#prae_footer_accordion  .panel-heading:hover {
  background-color: inherit;
  color: #009898;
}

/*
.panel-heading:hover,
.panel-heading:focus {
  background: #009898 !important;
  color: white !important;
}
*/


#prae_footer_accordion .panel-heading+.panel-collapse>.panel-body{
  border: none;
  box-shadow:none;
}

#prae_footer_accordion .panel-heading {
  transition: 0.2s;
}

#prae_footer_accordion ul {
  list-style: none; /* Remove default bullets */
}
#prae_footer_accordion ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #009898; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -2em; /* Also needed for space (tweak if needed) */
}
#prae_footer_accordion span {
  color: #808080;
  line-height: 20px;
}

#special_start_accordion .panel-title {
  text-align: center;
}
#special_start_accordion p {
  color: #808080;
}
#special_start_accordion .panel-heading+.panel-collapse>.panel-body{
  border: none;
  box-shadow:none;
}
#special_start_accordion .panel-title a {
  text-decoration: none;
  display: block;
  font-family:"Roboto", Arial, sans-serif;
}
#special_start_accordion .panel-default > .panel-heading {
  transition: 0.2s;
  background-color: inherit;
  color: #009898;
  background-color: #009898;
  color: white;
}

#special_start_accordion .panel-default:hover > .panel-heading {
  transition: 0.2s;
  background-color: inherit;
  color: #009898;
}

#special_start_accordion .panel-default > .panel-heading.special_start_inactive{
  color: #808080;
  background-color: inherit;
}
#special_start_accordion .panel-default > .panel-heading.special_start_inactive:hover{
  background-color: inherit !Important;
  color: #808080 !Important;
  cursor: default !Important;
}

#special_start_accordion .panel-default > .panel-heading.special_start_inactive a:hover{
  cursor: default !Important;
}

#special_start_accordion h4 {
  padding-top: 25px;
}

#special_start_text {
  text-align: center;
}

#navi_impress, #navi_impress:hover, #navi_impress_mob, #navi_impress_mob:hover {
  color: #B7B7B7;
  font-size: 14px;
  border: 0px;
}

#navi_impress {
  padding-left: 50px;
}

@media (max-width: 479px) {
  .navi_contact_desk {
    display: none !Important;
  }

  #special_start_accordion h4 {
    padding-top: 0px;
  }
}

@media (max-width: 479px) {
  #Awards .mobile_landing_teaser {
    margin-top: 0px;
    padding-top: 0px;
  }
}

@media (min-width: 480px) {
  #Awards .mobile_landing_teaser {
    display: none !Important;
  }
}

@media (min-width: 480px) {
  .navi_contact_mob {
    display: none !Important;
  }
}

.navi_contact_mob {
  width: 100%;
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  position: fixed;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-top: solid #e0e0e0 1px;
 }

 .navi_contact_mob span {
    color: #009898;
    font-weight: bold;
 }

/* 768 992 1200*/
@media (max-width: 1200px) {
  .ContactBox {
    display: none !Important;
  }
}

.ContactBox {
  transition: 0.4s;
  position: fixed;
  z-index: 1000;
  top: 270px;
  right: 2px;
  height: 91px;
  width: 47px;
}

.ContactBox:hover {
  transition: 0.4s;
  top: 190px;
  width: 306px;
  height: 270px;
}

.ContactBox:hover .CB_Head {
  transition: 0.4s;
  opacity: 1;
  right: 258px;
  box-shadow: -5px 5px 16px #888888;
}

.ContactBox:hover .CB_Body {
  transition: 0.4s;
  top: 190px;
  height: 270px;
  width: 250px;
  opacity: 0.94;
}

.CB_Head {
  transition: 0.4s;
  background-color: white;
  position: fixed;
  top: 270px;
  right: 2px;
  height: 91px;
  width: 47px;

  /* border: solid 1px black;*/
  /*box-shadow: -5px 5px 16px #888888;*/
  opacity: 0.4;
}

.CB_Head img {
  position: absolute;
  top: 34%;
  left: 27%;
}

.CB_Body {
  transition: 0.4s;
  background-color: white;
  position: fixed;

  top: 300px;
  right: 2px;
  height: 0px;
  width: 0px;

  /*border: solid 1px black;*/
  padding-left: 24px;
  opacity: 0;
  overflow: hidden;

  box-shadow: -10px 10px 16px #888888;
}

.CB_Body h4 {
  font-weight: bold;
  font-family: inherit;
  font-size: 18px;
  color: #808080;
}

.CB_Body p {
  font-weight: bold;
  color: #808080;  
}

.CB_Body p, .CB_Body a {
  font-size: 16px;
}

.CB_Body a {
  display: block;
  line-height: initial;
  margin-bottom: 8px;
}

.ConetLinkAnim {
  font-size: 20px;
  transition: transform 0.4s;
}

#prae_footer_accordion .panel-heading:hover .ConetLinkAnim, #special_start_accordion .panel-heading:hover .ConetLinkAnim {
  /*transition: 0.8s;*/
  transform: rotate(23deg);
}

.ConetLinkAnimOpen {
  font-size: 20px;
  transition: transform 0.4s;
  transform: rotate(45deg);
}

/* 01.03.19, RoT: H3, H6 im Footer mag Google nicht. CDE-379  */
.h3-style {
  font-size: 20px !Important;
  font-weight: 300;
  font-family: "Roboto", Arial, sans-serif;
  color: #666;
}
@media (max-width: 479px) {
  .h3-style {
    font-size: 18px !Important;
  }
}
.h6-style {
  font-weight: 700;
  font-family: "Stone-Light", "Roboto", Arial, sans-serif;
  letter-spacing: 1px;
  display: block;
  margin-block-start: 2.3em;
  margin-block-end: 2.3em;
  margin-bottom: 0px;
  margin-top: 0px;
}


/* 08.03.19, ABe: CONTACT-BOX */
@media (max-width: 479px) {
  #CONTACT_BOX img{
    margin:auto;
  }
}