.conet-de-ctg-sprites {
    background-image: url('../../cde_img_sprites/%24FILE/sprites.min.png');
    background-repeat: no-repeat;
}

.cb-first {
    margin: 5px 0 0 25px;
}

.cb {
    margin: 5px 0 0 15px;
}

.conet-logo-header {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 78px;
    vertical-align: middle;
    background-position: -8px -169px;
    background-size: 328px;
    margin-top: 10px;
}

.mail-md {
    display: inline-block;
    position: relative;
    height: 48px;
    width: 64px;
    background-position: -37px -88px;
    vertical-align: middle;
}

.mail-s {
    display: inline-block;
    position: relative;
    height: 26px;
    width: 27px;
    background-position: -178px -99px;
    vertical-align: middle;
}

.menu-s {
    display: inline-block;
    position: relative;
    height: 26px;
    width: 27px;
    background-position: -117px -99px;
    vertical-align: middle;
}

.search-s {
    display: inline-block;
    position: relative;
    height: 38px;
    width: 38px;
    background-position: -234px -93px;
    vertical-align: middle;
}

.footer-mail-s {
    display: inline-block;
    position: relative;
    height: 26px;
    width: 28px;
    background-position: -82px -194px;
    vertical-align: middle;
    margin-right: 10px;
}

.footer-phone-s {
    display: inline-block;
    position: relative;
    height: 26px;
    width: 27px;
    background-position: -37px -194px;
    vertical-align: middle;
    margin-right: 10px;
}

.blog {
    display: inline-block;
    position: relative;
    height: 62px;
    width: 66px;
    background-position: -574px -275px;
    vertical-align: middle;
}

.career {
    display: inline-block;
    position: relative;
    height: 62px;
    width: 66px;
    background-position: -496px -277px;
    vertical-align: middle;
}

.exellence {
    display: inline-block;
    position: relative;
    height: 62px;
    width: 66px;
    background-position: -349px -272px;
    vertical-align: middle;
}

.exellence2 {
    display: inline-block;
    position: relative;
    height: 64px;
    width: 64px;
    background-position: -603px -628px;
    vertical-align: middle;
}

.google {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -161px -151px;
    vertical-align: middle;
}

.fb {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -202px -151px;
    vertical-align: middle;
}

.twitter {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -79px -151px;
    vertical-align: middle;
}

.linkedin {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -120px -151px;
    vertical-align: middle;
}

.xing {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -38px -151px;
    vertical-align: middle;
}

.xing-company {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -243px -151px;
    vertical-align: middle;
}

.instagram {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -366px -151px;
    vertical-align: middle;
}

.kununu {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -407px -151px;
    vertical-align: middle;
}

.profile_mail {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 18px;
    background-position: -594px -44px;
    vertical-align: middle;
    margin-right: 4px;
}

.profile_vcf {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 18px;
    background-position: -413px -44px;
    vertical-align: middle;
    margin-right: 4px;
}

.profile_phone {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 18px;
    background-position: -473px -44px;
    vertical-align: middle;
    margin-right: 4px;
}

.profile_location {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 18px;
    background-position: -533px -44px;
    vertical-align: middle;
    margin-right: 4px;
}

.flag_bubble_en {
    display: inline-block;
    position: relative;
    height: 38px;
    width: 38px;
    background-position: -102px -39px;
    vertical-align: middle;
}

.flag_bubble_de {
    display: inline-block;
    position: relative;
    height: 38px;
    width: 38px;
    background-position: -42px -39px;
    vertical-align: middle;
}

.flag_square_us {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -35px -233px;
    vertical-align: middle;
}

.download_white {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 33px;
    background-position: -77px -233px;
    vertical-align: middle;
}

.file_pdf {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -30px -310px;
    vertical-align: middle;
}

.arrow_e_black {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -35px -280px;
    vertical-align: middle;
}

.arrow_w_black {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -103px -280px;
    vertical-align: middle;
}

.arrow_e_white {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -69px -280px;
    vertical-align: middle;
}

.twisty_s_white {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -137px -280px;
    vertical-align: middle;
}

.twisty_e_white {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -172px -280px;
    vertical-align: middle;
}

.arrow_w_white {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -207px -280px;
    vertical-align: middle;
}

.filter_gray {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -136px -310px;
    vertical-align: middle;
}

.filter_green {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -101px -310px;
    vertical-align: middle;
}

.filter_red {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -67px -310px;
    vertical-align: middle;
}

.one {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -168px -44px;
    vertical-align: middle;
}

.two {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -228px -44px;
    vertical-align: middle;
}

.doc-approved {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -287px -44px;
    vertical-align: middle;
}

.tag {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -648px -44px;
    vertical-align: middle;
}

.universal-hat {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -124px -233px;
    vertical-align: middle;
}

.clock {
    display: inline-block;
    position: relative;
    height: 28px;
    width: 27px;
    background-position: -168px -233px;
    vertical-align: middle;
}

.awards1 {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 36px;
    background-position: -40px -631px;
    vertical-align: middle;
}

.awards2 {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 36px;
    background-position: -89px -689px;
    vertical-align: middle;
}

.awards3 {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 75px;
    background-position: -138px -631px;
    vertical-align: middle;
}

.awards4 {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 139px;
    background-position: -232px -631px;
    vertical-align: middle;
}

.awards5 {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 132px;
    background-position: -379px -631px;
    vertical-align: middle;
}

.awards6 {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 47px;
    background-position: -520px -631px;
    vertical-align: middle;
}

.awards7 {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
    background-position: -551px -546px;
    vertical-align: middle;
}

.awards8 {
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
    background-position: -614px -547px;
    vertical-align: middle;
}

.et-inv-box-green-small {
    display: inline-block;
    position: relative;
    height: 37px;
    width: 37px;
    background-position: -225px -527px;
    vertical-align: middle;
}

.letter-inv-box-green-small {
    display: inline-block;
    position: relative;
    height: 37px;
    width: 37px;
    background-position: -272px -527px;
    vertical-align: middle;
}

.et-inv-box-green {
    display: inline-block;
    position: relative;
    height: 41px;
    width: 41px;
    background-position: -106px -574px;
    vertical-align: middle;
}

.letter-inv-box-green {
    display: inline-block;
    position: relative;
    height: 41px;
    width: 41px;
    background-position: -152px -574px;
    vertical-align: middle;
}

.marker1-green {
    display: inline-block;
    position: relative;
    height: 14px;
    width: 14px;
    background-position: -318px -537px;
    vertical-align: middle;
}

.marker2-green {
    display: inline-block;
    position: relative;
    height: 14px;
    width: 14px;
    background-position: -338px -538px;
    vertical-align: middle;
}

.mob-contact-phone {
    display: inline-block;
    position: relative;
    height: 22px;
    width: 22px;
    background-position: -248px -586px;
    vertical-align: middle;
}

.letter-inv-circle-green {
    display: inline-block;
    position: relative;
    height: 26px;
    width: 26px;
    background-position: -211px -583px;
    vertical-align: middle;
}

.newsletter {
    background-position: -313px -404px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    height: 48px;
    width: 200px;
}