@charset "utf-8";

/* Graues Textfeld mit innen liegendem Button */
	

input[type="radio"] {
  margin: 0px 15px 0px 0px;
  display: inline-block;
}

input[type="text"], 
input[type="email"] {
  border-radius: 2px;
}

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.3;
  filter:Alpha(Opacity=30);
}

.form-btn-within { padding: 3px 3px 3px 10px;  /*border-radius: 4px;*/ font-size: 14px; white-space: nowrap; display: inline-block; width: 100%; }
.form-btn-within input[type="text"],
.form-btn-within input[type="email"]  { background: transparent; border: 0px; }

.navbar-search { margin: 10px 0px 9px 20px; background: rgba(0,0,0,0.1); width: 250px; }

@media (max-width:992px) {
.navbar-search { width: 150px !important; }
.navbar-search input[type="text"] { width: 58% !important; margin-right: 2% !important; }
.navbar-search button { width: 37% !important; }
}

@media (min-width:993px) {
.navbar-search:hover, .navbar-search:focus {   }
.navbar-search input[type="text"] { width: 68%; margin-right: 2%; }
.navbar-search button { width: 29% !important; }
}

.footer-mail { background: white; }
.footer-mail:hover, .footer-mail:focus { }
.footer-mail input[type="text"],
.footer-mail input[type="email"]  {width: 70%; color: black; margin: 0px; }
.footer-mail button { width: 30%; }
@media (min-width:480px) and (max-width:768px)
	{ .form-btn-within { padding: 3px 3px 3px 3px; }
	  .footer-mail input[type="text"],
	  .footer-mail input[type="email"]	  { display: block; width: 100%; color: black; margin: 0px; padding: 10px 0px; }
	  .footer-mail button { display: block; width: 100%; } }
@media (max-width:480px)
	{ .footer-mail input[type="text"],
	  .footer-mail input[type="email"]	{ width: 60%; color: black; margin: 0px; } .footer-mail button { width: 40%; } }


/* Wizard CSS */
#steps { list-style: none outside none; margin: 0; padding: 0; width: 100%; text-align: left; }
#steps li { color: #B0B1B3; background: #fafafa; float: left; padding: 10px 15px; margin-right: 15px; /*border-radius: 5px;*/ box-shadow: 1px 1px 0px rgba(0,0,0,0.3); font-size: 30px; font-weight: bold; }
#steps li.current { color: #009898; background: #FFF; }
#steps li.current span { color: #000; }
#steps li span { display: block; font-size: 12px; font-weight: bold; }
	
.next { float: right; }
.prev { float: left; }
.next:hover, .prev:hover { text-decoration: underline; /*background: #00b3b3;*/ }
	
#SaveAccount { background: #009898; color: #FFF; border: 0px; padding: 10px; box-shadow: 0px 2px 0px #006c6c; text-shadow: 0px -1px 0px #006c6c; /*border-radius: 5px;*/ font-size: 16px; cursor: pointer; float: right; margin-top: 40px; width: 47%; }
#SaveAccount:hover { background: #00b3b3; color: #FFF; }
/* END Wizard CSS */

/* Style Upload */
.upload	{ background: #fcfcfc; padding: 10px; /*border-radius: 5px;*/ margin-bottom: 20px; box-shadow: 1px 1px 0px rgba(0,0,0,0.3); }

label {
  font-weight: bold; 
  display: block;
  margin-bottom: 10px;
}

.datenschutz { margin: 50px 0px; }
/* END Style Upload */
	

/* BIG FORM */

.bigform form {
    text-align: left;
    margin-top: 30px;
}

.bigform form p {
    margin: 0px;
    padding: 0px;
}

.bigform fieldset {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: inline-block;
    vertical-align: top;
}

.bigform fieldset a {

}

.bigform fieldset a:hover {
    text-decoration: none;
}

.bigform legend {
    
}

.bigform label {
  margin: 0;
}

.bigform input[type="text"], .bigform input[type="email"], .bigform select, .bigform textarea {
    background: #fcfcfc;
    border: 1px solid #bfbfbf;
    color: #000;
    box-shadow: 1px 1px 0px rgba(255,255,255,1);
    padding: 3px 10px;
    /*border-radius: 3px;*/
    margin-bottom: 15px;
}

.bigform input[type="text"]:focus, .bigform input[type="email"]:focus, .bigform select:focus, .bigform textarea:focus,
.bigform input[type="text"]:hover, .bigform input[type="email"]:hover, .bigform select:hover, .bigform textarea:hover {
    background: #FFFFFF;
    border: 1px solid #009898;
    color: #009898;
    box-shadow: 1px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 1px 1px 1px #d9d9d9;
}

    .form-full-width {
        width: 100%;
        display: inline-block;
    }

    .form-half-width {
        display: inline-block;
        width: 50%;
    }
/*
@media (min-width: 900px) {
    .bigform label {
        width: 30%;
        display: inline-block;
    }


} */


@media (max-width: 899px) {
    .bigform label {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }

    .form-full-width {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }

    .form-half-width {
        display: block;
        width: 50%;
    }
}

/* Input 30/70 */
#Anrede, #_Anrede, #PLZ, #Geburtstag { width: 27%; margin-right: 3%; }
#Titel, #Ort, #Geburtsland { width: 70%; }
	
/*Input 50/50 */
#Vorname { width: 47%; margin-right: 3%; }
#Nachname { width: 50%; }

/* Input 80/20 */
#Straße { width: 77%; margin-right: 3%; }
#Nr	{ width: 20%; }
	
/* Input 100% war nur für Test CSS */	
/* #Land, #Position, #Abschluss, #Sonstiges, #Berufsausbildung, #Studium, #Eintrittsdatum, #Gehaltsvorstellung, #Anstellungsart, #Suchweg, #Bemerkungsfeld	{ width: 100%; } */

/* Input 100% Bewerbungsformular */	
#_Schulabschluss, #_Eintrittsdatum , #_AusbildungDualerStudent, #_Suchweg, #_Bemerkungen , #_Sonstiges, #_Skill, #_Berufsausbildung, #_Studium {
    /* width: 100%; */
}


@media (max-width:768px){
#steps li { margin-bottom: 15px; }
}


@media (max-width:480px){
#steps li { color: #B0B1B3; background: #fafafa; float: left; padding: 5px 10px; margin-right: 15px; margin-bottom: 15px; /*border-radius: 5px;*/ box-shadow: 1px 1px 0px rgba(0,0,0,0.3); font-size: 18px; font-weight: bold; }
#steps li span { display: block; font-size: 12px; font-weight: bold; }
.form-half-width { width: 100%; }
}


/*** NEUER LISTEN BUTTON ***/
.btn_list { border-top: 2px solid #ccc; border-left: 0px; border-right: 0px; border-bottom: 0px; background: none; padding-top: 10px; color: #009898 }
.btn_list:hover { text-decoration: underline; }
.btn_list:before { content:url(../../cde_img/%24FILE/box-arrow-right.gif); margin-right: 5px; }


.error{
  color:red;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  display: block;
  font-weight: bold;
}

.invisible{
display:none !important;
}

span.checkbox {
    float: left;
    padding-bottom: 5px;
    width: 300px;
}

/* SEARCH BOX */

  #SEARCHBOX .search_wrapper {
    border: 0;
    background: #006060;
    color: white;
    width: 100%;
    float: left;
    /*border-radius: 5px;*/
    /* border-bottom: 1px solid #00cccc;
    border-top: 1px solid #004444; */
    }

  #search input[type="text"] {
    width: 100%;
    background: transparent;
    border: 0px;
    margin: 1%;
    padding: 1%;
    font-size: 14px;
	color:white;
  }

  #search button[type="submit"] {
    width: 20%;
    padding: 1%;
    background: #009898;
    color: white;
    border: 0px;
    /*border-radius: 5px;*/
    font-size: 14px;
    float: right;
    margin: 1%;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.3);
    transition: all .3s;
  }

  #search button[type="submit"]:hover {
    background: #00b3b3;
    
  }

@media (min-width: 900px) {

  .searchbox {
    float: right;
    padding: 10px;
    background: #009898;
    position: relative;
    z-index: 4;
    width: 30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-bottom: 1px solid #006060; */
  }

}

@media (max-width: 899px) {

  .searchbox {
    float: right;
    padding: 10px;
    background: #009898;
    position: relative;
    z-index: 4;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-bottom: 1px solid #006060; */
  }

}

.twitter-typeahead {
	width:75%;
}

/**** ACADEMY FORM ****/
.academy_label {
  font-weight: 300;
  line-height: 16px;
  display: inline-block;
  margin: 0;
}

.academy_radio {
  margin: 0px 15px 0px 7px !important;
}

/* Silverpop-Layout überschreiben */
.silverpop form table { width:100%; }
.silverpop .fieldLabel {
font-weight: bold;
}
